  :focus {
	outline: none;
	}
  .blur-vit, .menu-content, .pop-sec, .partner-pop, .press-pop, .faded, .cookies-notice {
  	backdrop-filter: blur(5px);
  	-webkit-backdrop-filter: blur(5px);
  }
  .toping {
    background-color: rgb(197, 219, 187);
  animation-name: toping;
  animation-duration: 0.5s;
  }
  .scrolling {
    background-color: rgba(255, 255, 255, 0.7);
  animation-name: scrolling;
  animation-duration: 0.5s;
  }
  @keyframes toping {
  from {background-color: rgba(255, 255, 255, 0.9);}
  to {background-color: rgb(197, 219, 187)}
}
  @keyframes scrolling {
  from {background-color: rgb(197, 219, 187)}
  to {background-color: rgba(255, 255, 255, 0.9);}
}
  @keyframes stick-scroll {
    from {padding-top:30px;padding-bottom:30px;}
    to {padding-top:10px;padding-bottom:10px;}
  }
  @media only screen and (min-width: 960px) and (max-width: 1440px) {
  .w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
}
  @media only screen and (min-width: 1441px) {
  .w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}
}
  @media only screen and (max-width: 600px) {
    .slide-img {
          width: 75%;
    }
  }
.tab-link-tab-1.w--current .text-block-19, .tab-link-tab-1:active .text-block-19 {
border: none !important;
}
.tab-link-tab-1.w--current .text-block-19 {
display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    line-height: 35px;
    text-align: center;
    }
@media only screen and (min-width: 960px) and (max-width: 1200px) {
.tabs-content {
    width: 55%;
    margin-top: -20px;
    padding-right: 0px;
    padding-left: 60px;
}
.div-block-16 {
width: 60%;
max-width: 60%;
}
.scroll-img {
    right: -3%;
}
.div-block-48 {
    top: -1%;
    bottom: 2%;
}
.div-block-8.active.scan-b {
    right: -41%;
    width: 41%;
}
.div-block-8.active.learn-b {
    right: -24%;
    width: 24%;
}
.div-block-8.active.food-b {
    right: -15%;
    width: 15%;
}
.div-block-8.active.sup-b {
    right: -12%;
    width: 12%;
}
.div-block-8.active.sup-p {
    right: -14%;
    width: 14%;
}
.div-block-8.active.plan-b {
    right: -24%;
    width: 24%;
}
.div-block-8.active.improve-b {
    right: -39%;
    width: 39%;
}
.div-block-46 {
    z-index: 3;
}
}
.slick-prev, .slick-next {
display:none;
}
@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}
.slick-active .slide-content {
  animation-name: fadeInUpSD;
  animation-duration: 0.5s;
  opacity: 1;
  width: 100%;
  padding: 10px 20px 30px 0;
}
		.slider-tabs .slick-current {
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    line-height:26px;
    margin-top: 2px;
    }
    .slider-tabs .slick-current .text-block-19{
    color: #fff;
    border:none;
    min-width:96px;
    }
    .slider-tabs .slick-current .tab-link-tab-1{
    margin-bottom: 0;
    }
    .slick-slide .tab-link-tab-1{
    text-align:center;
    }
    .slick-slide {
    line-height: 30px;
    }
    .slick-slide .text-block-19{
    }
    .slick-slide .tab-pane-vitamin-b7{
    	min-height: 450px;
    }
    .sdownm {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
        transform: translate3d(0px, -126px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  .supm {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
    .div-block-40.showing {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    transition-delay: 0.5s;
  transform: translate3d(100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
  .div-block-40.hiding {
  transition-delay: 0.5s;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
      transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.menu-content.kaluar {
visibility: visible;
transition: visibility 0s;
}
.menu-content.asup {
visibility: hidden;
transition: visibility 0s;
transition-delay: 1s;
}
.menu-content.showing {
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.5s;
}
.menu-content.hiding {
opacity: 0;
-webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.5s;
}
.lab-child {
  opacity: 0.25;
-webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  transition-delay: 0s;
}
.lab-child.active {
  opacity: 1;
-webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  transition-delay: 0s;
}
.div-block-14.pertama {
  background: white!important;
  width: 20px!important;
    height: 20px!important;
}
.div-block-14 {
  background: black;
  width:8px;
  height:8px;
  -webkit-transition: background 0.2s linear, width 0.2s ease-in-out, height 0.2s ease-in-out;
  -moz-transition: background 0.2s linear, width 0.2s ease-in-out, height 0.2s ease-in-out;
  -ms-transition: background 0.2s linear, width 0.2s ease-in-out, height 0.2s ease-in-out;
  -o-transition: background 0.2s linear, width 0.2s ease-in-out, height 0.2s ease-in-out;
  transition: background 0.2s linear, width 0.2s ease-in-out, height 0.2s ease-in-out;
}
.lab-child.active .div-block-14 {
  background: transparent;
  width:15px;
  height:15px;
  -webkit-transition: background 0.2s linear, width 0.2s ease-in-out, height 0.2s ease-in-out;
  -moz-transition: background 0.2s linear, width 0.2s ease-in-out, height 0.2s ease-in-out;
  -ms-transition: background 0.2s linear, width 0.2s ease-in-out, height 0.2s ease-in-out;
  -o-transition: background 0.2s linear, width 0.2s ease-in-out, height 0.2s ease-in-out;
  transition: background 0.2s linear, width 0.2s ease-in-out, height 0.2s ease-in-out;
}
.text-wrap .heading {
  transform:translate3d(0, -85px, 0);
  opacity:0;
}
.text-wrap .heading.active {
  transform:translate3d(0, 0px, 0);
  opacity:1;
  -webkit-transition: transform 0.2s ease-in-out, opacity 0.2 linear;
  -moz-transition: transform 0.2s ease-in-out, opacity 0.2 linear;
  -ms-transition: transform 0.2s ease-in-out, opacity 0.2 linear;
  -o-transition: transform 0.2s ease-in-out, opacity 0.2 linear;
  transition: transform 0.5s ease-in-out, opacity 0.5s linear;
}
.text-wrap .heading.active.down {
  transform:translate3d(0, 85px, 0);
  opacity:0;
  -webkit-transition: transform 0.2s ease-in-out, opacity 0.2 linear;
  -moz-transition: transform 0.2s ease-in-out, opacity 0.2 linear;
  -ms-transition: transform 0.2s ease-in-out, opacity 0.2 linear;
  -o-transition: transform 0.2s ease-in-out, opacity 0.2 linear;
  transition: transform 0.5s ease-in-out, opacity 0.5s linear;
}
.stopscroll {
  overflow: hidden;
  height: 100%;
}
/* SLICK CSS */
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
.slick-dots,.slick-next,.slick-prev{position:absolute;display:block;padding:0}.slick-dots li button:before,.slick-next:before,.slick-prev:before{font-family:slick;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-next,.slick-prev{font-size:0;line-height:0;top:50%;width:20px;height:20px;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:0;background:0 0}.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{color:transparent;outline:0;background:0 0}.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1}.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.25}.slick-next:before,.slick-prev:before{font-size:20px;line-height:1;opacity:.75;color:#fff}.slick-prev{left:-25px}[dir=rtl] .slick-prev{right:-25px;left:auto}.slick-prev:before{content:'â†'}.slick-next:before,[dir=rtl] .slick-prev:before{content:'â†’'}.slick-next{right:-25px}[dir=rtl] .slick-next{right:auto;left:-25px}[dir=rtl] .slick-next:before{content:'â†'}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{bottom:-25px;width:100%;margin:0;list-style:none;text-align:center}.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:0;background:0 0}.slick-dots li button:focus,.slick-dots li button:hover{outline:0}.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}.slick-dots li button:before{font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'â€¢';text-align:center;opacity:.25;color:#000}.slick-dots li.slick-active button:before{opacity:.75;color:#000}
.slider-tabs .slick-current {
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  line-height:26px;
  margin-top: 2px;
  }
  .slider-tabs .slick-current .text-block-19{
  color: #fff;
  border:none;
  min-width:96px;
  }
  .slider-tabs .slick-current .tab-link-tab-1{
  margin-bottom: 0;
  }
  .slick-slide .tab-link-tab-1{
  text-align:center;
  }
  .slick-slide {
  line-height: 30px;
  }
  .slick-slide .text-block-19{
  }
  .slick-slide .tab-pane-vitamin-b7{
    min-height: 450px;
  }
  .slick-prev, .slick-next {
    display:none;
    }
    @-webkit-keyframes fadeInUpSD {
      0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
      }
      100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    @keyframes fadeInUpSD {
      0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
      }
      100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    .fadeInUpSD {
      -webkit-animation-name: fadeInUpSD;
      animation-name: fadeInUpSD;
    }
    .slick-active .slide-content {
      animation-name: fadeInUpSD;
      animation-duration: 0.5s;
      opacity: 1;
      width: 100%;
      padding: 10px 20px 30px 0;
    }
    .slider-content.slick-initialized .slick-slide {
      position: relative;
      right: 1px;
      overflow: hidden
    }
    .food {
      height: 100%;
    }

  /* ACCORDION */
  .p-qs {
    max-height: 0;
    -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -ms-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  }
  .w--active .p-qs {
    max-height: 700px;
    -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -ms-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  }
  .expand-icon {
    transform: rotate(0deg);
    -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  }
  .w--active .expand-icon {
    transform: rotate(45deg);
    -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  }